@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.splide {
  position: initial;
}

.splide__arrow svg {
  width: 14px;
  height: 14px;
}

.hover-change-primary-to-white:hover > .text-primary {
  color: white !important;
}

@media (min-width: 768px) {
  .splide__arrow svg {
    width: 20px;
    height: 20px;
  }
}
